
*.wpmem
*.wpsettings
*.wpshdw
*.passwd
*.wpuuid
*.wpuser
Generated Test Files/
Decrypted/
wp/
logs/
.vs/
aliases/.mod/*
!aliases/.mod/example.bat
.launcher/.vs/
.launcher/build/
.launcher/launcher.spec